

#login {
	text-align: center;
	vertical-align: middle;
	padding-top: 200px;
}

#message {
	text-align: center;
	font-family:verdana;	
}

#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:20px;
    padding-left: 25px;
    padding-right: 25px;
}

#section {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 75px;
    padding-top: 35px;
   
}

h1#heading {
    font-size: 100%;
    color: blue;
}


#logout {
    font-family: bold;
    color: red;
    text-align: right;
}

h2#hello {
    font-size: 100%;
    color: black;
    padding-left: 300px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    column-width: 10px;

}
th,td {
    padding: 15px;
}

.table1 {
    width: 500px;
    background-color: #d9d9d9;
    position: absolute;
    column-width: 50%;
    margin-left: 300px;
    margin-top: 150px;
} 

h3#heading3 {
    color: green;
    font-size: 75%;
    text-decoration: underline;
}

#shop {
  padding-left: 250px;  
  padding-top: 75px;
  color: violet
  font-size: 25%;
}

video#backgroundvid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
   
    position: absolute;
    z-index: -100;
}

#register {
    text-align: center;
    vertical-align: middle;
    padding-top: 175px;
   
}
